.wallet-selection {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    padding-bottom: 8px;

    &__title {
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--target-color-primary);
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
            color: var(--hover-target-color-primary);
        }
    }

    &__current {
        white-space: nowrap;
    }

    &__icon {
        display: flex;
        width: 24px;
    }
}
