.header-pages {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    &__headline {
        display: flex;
        gap: 20px;
    }

    &__title-icon {
        width: 48px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        color: var(#e2e2e2);
    }

    &__descr {
        font-size: 14px;
    }

    &__icons-operators {
        display: flex;
        gap: 25px;
    }

    &__icon-operator {
        width: 48px;
    }
}
