.payment-history {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--text-color-secondary);
    width: 100%;
}
.payment-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    &__headline {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__title-icon {
        width: 48px;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        color: var(--text-color-primary);
    }
}

.payment-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 32px 24px 32px;
    background: var(--bg-color-element-primary);
    &__block {
        width: 100%;
        border-bottom: 1px solid var(--transparent-bg-primary);
    }
    &__selection {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        align-items: flex-end;
        overflow-x: auto;
    }
    &__select {
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        margin-right: auto;
        border-bottom: 3px solid var(--target-color-primary);
        padding: 24px 0px 21px;
        color: var(--text-color-primary);
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        cursor: pointer;
        transition-property: border, color;
        transition-duration: 450ms;
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        user-select: none;
        white-space: nowrap;
    }
    &__content {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        padding-top: 24px;
    }
    &__vidget {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }
    &__filter {
        cursor: pointer;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        width: 100px;
        height: 40px;
        line-height: 1.5;
        font-weight: 600;
        padding: 8px;
        border-radius: 8px;
        color: var(--text-color-primary);
        background: var(--bg-color-element-secondary);
        box-shadow:
            var(--shadow-color-primary) 0px 2px 4px 0px,
            var(--shadow-color-primary) 0px 0px 4px 0px;
        white-space: nowrap;
        border-style: none;
        border-width: 0px;
        border-color: var(--border-colo-primary);
        &:hover {
            background: var(--bg-color-element-secondary);
        }
        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 4px;
        }
    }
    &__table {
        background-color: var(--bg-color-secondary);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        &-item {
            display: flex;
            align-items: center;
            height: 56px;
            font-weight: bold;
            font-size: 12px;
            padding: 8px;
            border: none;
        }
        &-info {
        }
        &-body {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            cursor: pointer;
            font-size: 14px;
            color: #ffffffde;
            &:hover {
                background-color: var(--bg-color-secondary);
            }
        }
        &-child {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            height: 60px;
            padding: 8px;
        }
        &-container {
            min-width: 186px;
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: flex-start;
        }
        &-img {
            text-align: center;
           max-width: 32px;
           max-height: 32px; 
        }
    }
}
