.recipient-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: rgba(255, 255, 255, 0.5411764706);
    &__header {
        display: flex;
        flex-direction: column;
    }
    &__main {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }
    &__detail {
        display: flex;
        flex-direction: column;
        background-color: #303030;
        padding: 16px;
        gap: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.12) 0px 0px 4px 0px;
        border-radius: 4px;
        cursor: pointer;
    }
}