.amount-field {
    .form-styles {
        &__input {
            font-size: 24px;
            padding: 10px 32px 10px 0;

            &:focus {
                color: #8dc641;
            }
        }

        &__currency {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: rgba(255, 255, 255, 0.24);
        }
    }
}
