.recharge-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--text-color-secondary);
    width: 100%;

    @media (max-width: 760px) {
        gap: 15px;
    }
}

.recharge-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px 32px 0;
    background-color: var(--bg-color-element-primary);

    @media (max-width: 760px) {
        padding: 16px;
    }

    &__img-decor {
        display: flex;
        width: 620px;

        @media (max-width: 760px) {
            width: 100%;
        }
    }
}

.recharge-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 328px;

    @media (max-width: 760px) {
        align-items: stretch;
        width: 100%;
    }
}
