.customer-card {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #4d4d4d;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;

    &:hover {
        color: #8dc641;
        background-color: #303030;
    }

    &__data-card {

    }
    &__icon {
        border-radius: 4px;
        overflow: hidden;
        width: 75px;
        height: 48px;
        margin-right: 8px;
    }
    &__item {
        min-width: 229.81px;
        display: flex;
        gap: 8px;
        font-size: 14px;
    }
    &__number {
    }
    &__name {

    }
    &__balance {
        max-width: 200px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
}