.services-menu {
    flex: 0 0 auto;
    background-color: var(--bg-color-element-primary);
    width: 280px;
    min-height: 100%;
    position: relative;
    padding: 16px 0;
    cursor: initial;

    &_active {
        position: absolute;
        left: 0px;
        top: 65px;
        z-index: 10;
    }
}
