.services-menu {
    background-color: #212121;
    width: 280px;
    min-height: 100%;
    position: relative;
    padding: 16px 0;

    &_active {
        position: absolute;
        left: 0px;
        top: 65px;
        z-index: 2;
    }
}
