@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
    --bg-color-firstly: #0f0f0f;
    --bg-color-secondary: #303030;
    --bg-color-element: #212121;
    --text-color-firstly: #e2e2e2;
    --text-color-secondary: #ffffff8a;
    --border-color-firstly: #4d4d4d;
    --border-color-secondary: #adadad;
    --error-color: #ff5b5c;
    --target-color: #8dc641;
    --hover-target-color: #699f25;
}

[data-theme="light"] {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 100%;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #e2e2e2;
        box-shadow: 0 0 2px rgb(0, 0, 0, 0.2) inset;
    }

    &::-webkit-scrollbar-thumb {
        background: #303030;
        border-radius: 10px;
        border: 2px solid #e2e2e2;

        &:hover {
            background: #5a5a5a;
        }
    }
}

#root {
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-firstly);
    color: var(--text-color-firstly);
}

.container {
    max-width: 1264px;
    margin: 0 auto;
    padding: 24px 32px;
}
