@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
    --bg-color-primary: #0f0f0f;
    --bg-color-secondary: #303030;
    --bg-color-element-primary: #212121;
    --bg-color-element-secondary: #4d4d4d;
    --text-color-primary: #e2e2e2;
    --text-color-secondary: #ffffff8a;
    --text-color-tertiary: #000000;
    --border-colo-primary: #4d4d4d;
    --border-color-secondary: #adadad;
    --transparent-bg-primary: #ffffff3d;
    --transparent-bg-secondary: #ffffff1f;
    --shadow-color-primary: rgba(0, 0, 0, 0.2);
    --error-color-primary: #ff5b5c;
    --target-color-primary: #8dc641;
    --hover-target-color-primary: #699f25;
    --hover-target-color-secondary: #39422e;
    --hover-target-background-slider: #ffffff1f;
}

[data-theme="light"] {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 100%;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--border-color-secondary);
        box-shadow: 0 0 2px rgb(0, 0, 0, 0.2) inset;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bg-color-secondary);
        border-radius: 10px;
        border: 2px solid var(--border-color-secondary);

        &:hover {
            background: #5a5a5a;
        }
    }
}

#root {
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
}

.container {
    max-width: 1264px;
    margin: 0 auto;
    padding: 24px 32px;

    @media (max-width: 760px) {
        padding: 16px;
    }
}

.form-styles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    input[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            width: 0;
        }
    }

    &__title {
        font-size: 12px;
    }

    &__label {
        display: flex;
        position: relative;
        width: 100%;
    }

    &__input {
        background-color: inherit;
        border: none;
        outline: none;
        font-size: 16px;
        border-bottom: 1px solid var(--border-colo-primary);
        transition: all 0.3s ease 0s;
        width: 100%;
        color: #e2e2e2;
        padding: 10px 32px;

        &_empty {
            &.form-styles__input {
                border-color: var(--error-color-primary);

                &:hover {
                    border-color: var(--error-color-primary);
                }
            }
        }

        &:hover {
            border-color: var(--border-color-secondary);
        }

        &:focus {
            border-color: var(--target-color-primary);
        }
    }

    &__icon {
        display: flex;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
    }
}
