.footer {
    margin-top: auto;
    background-color: var(--bg-color-secondary);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.support-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.support-links {
    display: flex;
    color: var(--target-color-primary);
    gap: 25px;

    &__item {
        &:hover {
            text-decoration: underline;
        }
    }
}

.support-contacts {
    display: flex;
    gap: 25px;

    &__item {
        display: flex;
        gap: 15px;
    }

    &__item-num {
        font-weight: 600;
    }

    &__item-descr {
        color: var(--text-color-secondary);
    }
}

.copyright {
    font-size: 12px;
    color: var(--text-color-secondary);
}

.additional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 35px;
}

.settings-site {
    display: flex;
    align-items: center;
    gap: 20px;
}

.set-language {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0px;
    border-bottom: 1px solid var(--border-colo-primary);
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
        border-color: var(--border-color-secondary);
    }

    &:focus {
        border-color: var(--target-color-primary);
    }

    &__flag {
        width: 16px;
    }

    &__title {
    }

    &__more {
        display: flex;
        width: 24px;
    }
}

.switch-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: var(--hover-target-color-secondary);
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--target-color-primary);
        width: 48px;
        height: 48px;
        cursor: pointer;

        img {
            width: 16px;
        }
    }
}

.installing-application {
    display: flex;
    gap: 25px;
    color: var(--text-color-secondary);

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &:hover {
            .installing-application__title span {
                color: var(--text-color-primary);
            }
        }
    }

    &__img {
        display: flex;
        width: 24px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 10px;

        span {
            font-weight: 600;
            font-size: 14px;
            transition: all 0.3s ease 0s;
        }
    }
}
