.video-widget {
    position: relative;
    padding-bottom: 46%;
    height: 0px;
    border: 1px solid var(--border-color-firstly);

    video {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
}