.card-details {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-secondary);
    padding: 16px;
    gap: 25px;
    box-shadow:
        var(--shadow-color-primary) 0px 2px 4px 0px,
        var(--shadow-color-primary) 0px 0px 4px 0px;
    border-radius: 4px;
    cursor: pointer;

    .widget-form__input {
        padding: 8px 0;
    }

    &__bottom-block {
        display: flex;
        gap: 20px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        font-size: 12px;
    }

    &__label {
        position: relative;
    }

    &__input {
        background-color: inherit;
        border: none;
        outline: none;
        font-size: 16px;
        border-bottom: 1px solid var(--border-colo-primary);
        transition: all 0.3s ease 0s;
        width: 100%;
        color: inherit;
        padding: 8px 0;

        &_color {
            &.card-details__input::placeholder {
                color: var(--text-color-primary);
            }
        }

        &:hover {
            border-color: var(--bg-color-element-secondary);
        }

        &:focus {
            border-color: var(--target-color-primary);
        }
    }
}
